html {
  font-family: 'Raleway', sans-serif;
}

h1, h2, h3, .logo {
  font-family: 'Shadows Into Light Two', cursive;
}

.hero {
  position: relative;
  background: url("https://previews.dropbox.com/p/thumb/AAL4SElDWJKx2snumDeYOy5BJEkH8JvajaOiewbCpvLy5foe0u2VXW0zvCOiJID7aNwD60RS0TJsTJbKdsOU-i0qjf-nEQU7ebqqu3XOTEDFD1lzX999pRqpJewQH907a8c5rkefpL7LuIl9aiQYT3UnrRu9EH2tKkIABUjSU1uKyg/p.jpeg?size=2048x1536&size_mode=3");
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
  background-position: center;
}



@media only screen and (min-width: 60em) {

position: relative;
  }

}
